@import "tailwindcss";

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@import "./partials/spacing.css";
@import "./vendor/uppy.css";
@import "./vendor/tiptap.css";

@theme {
  /* Font family */
  --font-sans: 'Geist', ui-sans-serif, system-ui, sans-serif;

  /* Colors */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-snow: #f5f5f5;
  --color-gray: #828282;
  --color-navy: #00455c;
  --color-slate: #5a778e;
  --color-silver: #c8c8c8;
  --color-red: #dc0000;
  --color-lime: #7d9b00;
  --color-olive: #555700;
  --color-wine: #75000a;
  --color-bronze: #8c6900;
}

/* Debug for grids */
.debug-grid {
  @apply bg-yellow-50/50;
}

.debug-grid > * {
  @apply outline outline-1 outline-yellow-500/50;
}




